/*logo*/
/*.gdbar img {
  width: 200px !important;
  height: 200px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 400px !important;
  height: 215px !important;
}*/

/*logo in footer*/
/*slides > slide:not(.nobackground):before {
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
}*/

/*change background*/
slides > slide.my {
  background: none !important;
  background-color: white !important;
  background-image: url(bg.gif) !important;
/*  background-image: url(https://i.pinimg.com/originals/a7/68/76/a76876b05cc5767ce6ce5c59abceb7e4.gif) !important;*/
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
/*  overflow-x: auto !important;*/
/*  overflow-y: auto !important;*/
}
/*slide.dark h2 {
  color: black !important;
  text-shadow: 10px 10px 10px white !important;
}
*/